<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ES.DAL.BD.conexion" connectionString="Data Source=DESKTOP-VNUJ6NJ\SQLEXPRESS;Initial Catalog=Colegio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>